@import "colors";

@media screen and (max-width: 820px) {
  .home3 {
    height: 130vh;
    > div {
      height: 120vh;
    }
  }

  .contact > main {
    height: 100vh;
    width: 100%;
    border-radius: 0%;
    h1 {
      text-align: center;
    }
  }
}

@media screen and (max-width: 700px) {
  nav {
    > h1 {
      display: none;
    }
    > main {
      width: 100%;
      justify-content: center;
      a {
        margin: 0.5rem;
      }
    }
  }

  .home > main {
    align-items: center;
    h1 {
      font-size: 3rem;
    }
  }

  .home2 {
    height: 120vh;
    flex-direction: column;
    img {
      width: 100%;
    }
    > div {
      width: 100%;
    }
  }

  .home3 {
    height: 100vh;
    > div {
      text-align: center;
      width: 100%;
      border-radius: 0;
      > p {
        padding: 5rem 2rem;
        font-size: 0.9rem;
      }
    }
  }
  .home4 {
    margin-top: 2rem;
    align-items: center;
    > div {
      border-radius: 0%;
      width: 100%;
      height: auto;
      >article{
        > a {
          > div {
            width: 10vh;
            height: 10vh;
            svg {
              font-size: 4rem;
            }
            p {
              display: none;
            }
          }
        }
      }
    }
  }

  .contact > main {
    padding: 1rem;
    h1 {
      margin: 1rem;
    }
    > form {
      margin: 0%;
      > div {
        width: 100%;
      }
    }
  }

  footer {
    margin-top: 2rem;
    grid-template-columns: 1fr;
    padding: 5rem;
    > div {
      align-items: center;
    }
  }

  .services {
    width: 100%;
    height: 50vh;
    background-color: $second;
    display: flex;
    justify-content: none;
    align-items: none;
    > div {
      background-color: $first;
      height: 16rem;
      width: 100%;
      padding: 2rem;
      border-radius: 50px;
    }
  }
}
